<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<link
	href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css"
	rel="stylesheet">
<style type="text/css">
</style>
<title>Django Blog</title>
</head>

<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="page-header">
					<h1>
						Django Blog
					</h1>
				</div>
				{% block body %}
				{% endblock %}
			</div>
		</div>
	</div>
</body>

</html>




